@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Barinas, Venezuela<br />
    <abbr title="Phone">P:</abbr>
    +58-414-5395328
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:danieldaniyyelda@gmail.com">danieldaniyyelda@gmail.com</a><br />
</address>