@{
    ViewBag.Title = "Legal";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLSTRAT App - Legal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content-legal">
        <hr />
        <h1 class="center-text">POLÍTICA DE PRIVACIDAD</h1><hr />
        <p class="center-text">Última actualización: enero 2018</p><hr />
        <h3 class="center-text">POLÍTICA DE PRIVACIDAD DE COLSTRAT</h3><hr />
        <p class="center-text-justified">COLSTRAT recopila, almacena y utiliza su información personal como responsable del tratamiento relacionado con el fin de proporcionar un conjunto de servicios.</p>
        <br /><p class="center-text-justified">Para preguntas e información sobre política de privacidad y los derechos del interesado, por favor, póngase en contacto con nosotros a través de la página www.colstrat.somee.com o, alternativamente, en COLSTRAT, Departamento Legal, Barinas, Venezuela.</p>
              <br /><p class="center-text-justified">Todos los Servicios de COLSTRAT se rigen por esta Política de Privacidad y al utilizar o acceder a un servicio, Usted presta su consentimiento al tratamiento, uso y divulgación de sus datos. Por favor, no instale o utilice los Servicios si no está de acuerdo con esta Política de Privacidad.</p>
                    <br /><p class="center-text-justified">Nos reservamos el derecho de modificar esta declaración de privacidad en cualquier momento, por lo que rogamos que la revise con frecuencia. Si realizáramos modificaciones significativas o esenciales a esta política, se lo notificaremos a usted por correo electrónico, o mediante un aviso en nuestra página de inicio. El uso continuado de nuestros productos y servicios online y para móviles significa que usted acepta los cambios en nuestra Política de privacidad online.</p>
        <hr/>
        <p class="center-text"><strong>1.	¿Cómo se recopila su información?</strong></p>
        <br /><p class="center-text-justified">Las situaciones en las que los datos personales se ponen a disposición de COLSTRAT incluyen, pero no se limitan a: (i) el uso de aplicaciones móviles de COLSTRAT o visitar nuestros sitios web, (ii) el registro para los servicios, concursos y eventos especiales; (iii) el acceso a servicios utilizando una identificación de un tercero, tales como los sitios de redes sociales; (iv) la suscripción a boletines; (v) la compra de un producto o servicios a través de tiendas online de COLSTRAT o a través de la aplicación (o "compra desde la app"); (vi) el uso de "recomendar a un amigo", "enviar esta página" u otras características similares; (vii) solicitar asistencia técnica; y (viii) cualquier otro modo por el que se use los Servicios COLSTRAT, y se requieran los datos personales para su uso y / o participación.</p>
              <br /><p class="center-text-justified">Los datos que gestionamos pueden incluir, pero no se limitan a: la dirección de correo electrónico, ID de dispositivo, nombres de usuario y contraseñas.</p>
                    <br /><p class="center-text-justified">COLSTRAT puede complementar sus datos con los datos recibidos de terceros en relación con la demografía, la publicidad, el mercado y otras encuestas o servicios de análisis.</p>
        <hr/>
        <p class="center-text"><strong>2.	Los datos de localización</strong></p>
        <br /><p class="center-text-justified">En la medida en la que COLSTRAT ofrece servicios que tienen registrada la ubicación y usted utiliza dichos servicios, COLSTRAT podrá recopilar y procesar sus datos de localización para proporcionar los servicios de ubicación y los anuncios relacionados. Los datos de ubicación se procesan y almacenan sólo por la duración que se requiere para la prestación de los servicios relacionados con la ubicación.</p>
              <br /><p class="center-text-justified">COLSTRAT podrá utilizar los datos detallados de localización geográfica sobre la base de coordenadas obtenidas de la radio del GPS de un dispositivo móvil</p>
                    <br /><p class="center-text-justified">No se podrá acceder a su localización basada en el GPS sin su consentimiento. A pesar de que los socios de COLSTRAT proporcionen partes de servicios relacionados con la localización, COLSTRAT no compartirá su localización basada en el GPS con terceros sin su consentimiento.</p>
        <hr/>
        <p class="center-text"><strong>3.	Amigos</strong></p>
        <br /><p class="center-text-justified">Si usted elige utilizar la opción de COLSTRAT "compartir con un amigo" o un servicio similar o solicita un certificado de regalo para su amigo, COLSTRAT puede almacenar de sus amigos el nombre y los datos que usted proporcione a COLSTRAT.</p>
        <br /><p class="center-text-justified">Tenga en cuenta que ciertas características de los servicios podrán  conectarse a sus sitios de redes sociales para obtener información adicional sobre usted. En tales casos, COLSTRAT podrá recopilar cierta información de su perfil de su red social cuando su sitio de redes sociales lo permita, y cuando usted de su consentimiento para permitir que su sitio de redes sociales ponga la información a disposición de COLSTRAT. Esta información podrá incluir, sin estar limitado a, su nombre, foto de perfil, sexo, ID de usuario, dirección de correo electrónico, su país, su idioma, las organizaciones y los enlaces de su página de perfil, los nombres y las imágenes de perfil de sus redes sociales "amigos" y toda información que haya incluido en su perfil de la red social. COLSTRAT podrá asociar y / o combinar, así como usar la información recopilada por COLSTRAT y / u obtenida a través de estos sitios de redes sociales.</p>
        <hr />
        <p class="center-text"><strong>4.	Seguridad</strong></p>
        <br /><p class="center-text-justified">En esta Política de Privacidad utilizamos el término "información personal" para describir la información que puede estar relacionada con una persona específica y utilizarse para identificar a esa persona. No consideramos información personal que incluya información que se haya hecho anónima de modo que no identifique a un usuario específico.</p>
        <br /><p class="center-text-justified">Almacenamos y procesamos su información personal en nuestros servidores. Protegemos su información utilizando medidas de seguridad físicas, técnicas y administrativas para reducir los riesgos de pérdida, mal uso, acceso no autorizado, divulgación y alteración. COLSTRAT usa los estándares de la industria en materia de protección de la confidencialidad de su Información Personal, incluyendo, en otras medidas, cifrado de datos, cortafuegos ("firewalls") y Secure Socket Layers ("SSL"). Consideramos sus datos como un activo que debe ser protegido de cualquier pérdida o acceso no autorizado.</p>
        <br /><p class="center-text-justified">Sin embargo, es necesario tener muy en cuenta que la seguridad perfecta no existe en Internet. Por ello, COLSTRAT no se hace responsable por interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no autorizadas, tampoco se hace responsable por la indebida utilización de la información obtenida por esos medios.</p>
        <hr />
        <p class="center-text"><strong>5.	Otros</strong></p>
        <br /><p class="center-text-justified">Usted podrá optar por revelar datos sobre sí mismo en el curso de facilitar contenido generado por el usuario a los servicios.</p>
        <br /><p class="center-text-justified">Cualquier dato que usted divulgue en cualquiera de estos foros, blogs, chats o similares se convertirá en información pública, y no hay ninguna expectativa de privacidad o confidencialidad con respecto a esos datos.</p>
        <br /><p class="center-text-justified">COLSTRAT podrá almacenar y / o transferir sus datos personales a sus afiliados y socios dentro y fuera Venezuela de conformidad con la legislación obligatoria y la política de privacidad.</p>
        <hr />
        <p class="center-text"><strong>6.	Información adicional</strong></p>
        <br /><p class="center-text-justified">Esta política de privacidad se rige por la ley venezolana excluyendo su elección de disposiciones legales.</p>
        <br /><p class="center-text-justified">COLSTRAT hace esfuerzos de buena fe para que usted pueda revisar, actualizar o corregir sus datos personales en posesión de COLSTRAT.</p>
        <br /><p class="center-text-justified">COLSTRAT tendrá suficiente información de usted para establecer su identidad y para verificar su solicitud de acceso, y también para que nos ayude en el manejo de su solicitud.</p>
        <hr />
    </div>
</body>
</html>
